@use "../base/variables" as variables;

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: variables.$color-dark-1;
  color: variables.$color-text-light-2;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: variables.$font-size-lg;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: variables.$color-dark-1;
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid variables.$color-brand-1;
}

.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid variables.$color-brand-2;
}
