@use "../base/variables" as variables;

body .main .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
  transition: all 0.5s;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    font-size: variables.$font-size-lg;
    color: variables.$color-secondary;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    height: 20%;
    box-shadow:
      0 4px 8px 0 rgb(0 0 0 / 20%),
      0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
  }

  &__close {
    font-size: variables.$font-size-4xl;
    color: variables.$color-dark-1;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.25em;
    cursor: pointer;
    text-decoration: none;
  }

  &__close:focus,
  &__close:hover {
    color: variables.$color-dark-2;
  }

  &__message {
    text-align: center;
    padding: variables.$spacing-md;
  }
}
